.banner {
	background: palette(primary);
	
	height: 184px;
	&.banner-image {
		height: 300px;
	}
	margin-bottom: -134px;

	@include media($breakpoint__small) {
		margin-bottom: -93px;
	}

	@include media($breakpoint__tiny) {
		margin-bottom: -41px;
	}

	overflow: hidden;
	position: relative;

	img {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform( translateY(-50%) translateX(-50%) );
		max-width: none;
	}

	.banner-blocks {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: $width__site-max;
		margin: 0 auto;
	}

		.banner-block-left,
		.banner-block-right {
			background: palette(primary);
			width: 500px;
			height: 500px;
			position: absolute;
			top: -100px;
			@include transform( rotate(15deg) );
		}

		.banner-block-left {
			right: 920px;
		}

		.banner-block-right {
			left: 920px;
		}

	.banner-shadow {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;

		> .wrap {
			width: 100%;
			height: 100%;
			max-width: 1920px;
			max-height: 412px;
			margin: 0 auto;
			background: url($path__images + 'header-shadow2.png') center 100% no-repeat;
		}
	}
}

