.breadcrumbs {
	margin-bottom: 0;

	& {
		color: lighten($color__text, 30%);
	}

	a {
		color: lighten($color__text, 15%);
		&:hover {
			// color: $color__text;
			text-decoration: underline;
		}
	}

	.breadcrumb_last {
		font-style: italic;
	}
}