.breadcrumbs {
	margin-bottom: 0;
	color: palette(grey, dark);

	a {
		color: inherit;
		&:hover {
			color: palette(primary);
			text-decoration: underline;
		}
	}

	.breadcrumb_last {
		color: palette(grey);
		font-style: italic;
	}
}