/* Responsiveness */
#menu-primary {
	display: block;
	@include media($breakpoint__smedium) {
		display: none;
	}
}

/* Reset */
#menu-primary {
	ul { @include reset-list-style; }
	a {	@include reset-link-style; }

	li,	a {
		display: block;
	}
}

/* Structure */
#menu-primary {
	// margin-right: -16px;
	// padding-right: 24px;
	// padding-left: 24px;
	// margin-left: -12px;

	> .wrap {
		// margin-left: -24px;
	}

	.menu-items {
		@include flex-row();
		@include justify-content(flex-start);
		@include flex-wrap(wrap);

		> .menu-item {
			position: relative;
			@include flex-row(center);
			// margin-right: 24px;

			&:after {
				content: '';
				pointer-events: none;
				height: 8px;
				border-color: #fff;
				border-style: solid;
				border-width: 8px 0 0 0;
				-webkit-border-image: url($path__images + 'border.png') 8 round;
				   -moz-border-image: url($path__images + 'border.png') 8 round;
				     -o-border-image: url($path__images + 'border.png') 8 round;
				        border-image: url($path__images + 'border.png') 8 round;
			}

			&:after {
				// margin-right: -24px;
				width: 24px;
			}

			&:last-child {
				@include flex(1 1 0);
				min-width: 0;
				margin-right: 0;

				&:after {
					@include flex(1 1 auto);
					margin-right: 0;
					width: auto;	
					// pointer-events: none;
					// width: 100%;
				}
			}	
		}

		//* Submenu
		> .menu-item > .sub-menu { 
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 99;

			> .menu-item {
				white-space: nowrap;
			}
		}
	}

	//* Default hide sub-menu
	.sub-menu { display: none; }	

	//* Show sub-menu on hover menu-item
	.menu-item:hover > .sub-menu { display: block; }
}

/* Styling */
#menu-primary {
	color: palette(white);
	font-size: $font__size-large;
	font-family: $font__family-menu;
	line-height: $font__line-height-menu;

	a {
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
	}

	/* Top level menu-items */
	.menu-items > .menu-item {
		
		/* Top level links */
		> a {
			padding: rem(11px) rem(12px) rem(12px);
			text-align: center;

			&:hover {
				color: palette(white, dark);
				text-decoration: underline;

				.fa {
					text-decoration: underline;
				}
			}
		}		

		/* Active */
		&.current-menu-item,
		&.current-menu-parent,
		&.current-menu-ancestor {
			> a {
			}
		}

		&:first-child {
			// font-size: $font__size-large + rem(2);

			// a {
			// 	padding-top: rem(9px);
			// 	padding-bottom: rem(9px);
			// }
		}
	}

	//* Submenu
	.sub-menu { 
		padding: rem(8) rem(18) rem(8);
		background-color: palette(grey);
		&, a {
			font-size: $font__size-small;
			color: palette(black);
		}

		.menu-item {
			+ .menu-item {
				border-top: 1px solid palette(grey, dark);
			}

			a {
				padding: 8px 0;
			}

			&:last-child a {
				border-bottom: none;
			}

			&:hover > a {
				text-decoration: underline;
			}

			//* Selected menu item
			&.current-menu-item,
			&.current-menu-parent,
			&.current-menu-ancestor {
				> a {
					font-weight: $font__weight-bold;
				}
			}
		}
	}
}