/* Responsiveness */
#menu-primary-mobile {
	display: none;
	@include media($breakpoint__smedium) {
		display: block;
	}
}

/* Toggle */
.menu-toggle {
	a { 
		padding: rem(11px) rem(12px) rem(12px); 
		background-color: $color__background-menu-toggle;
		color: $color__text-menu-toggle;
		text-transform: capitalize;

		&:hover {
			background-color: $color__background-menu-toggle-hover;
			color: $color__text-menu-toggle-hover;
		}

		font-size: $font__size-large;
		font-family: $font__family-menu;
		line-height: $font__line-height-menu;
		text-align: center;

		&:before { 
			@include icon('fa-navicon');
			font-size: $font__size-large;
			padding-right: 5px;
		}
	}

	&.expanded {
		a:before { 
			content: $fa-var-remove; 
			padding-right: 6px;
		}
	}


	@include flex-row(center);


	&:before {
		content: '';
		pointer-events: none;
		height: 8px;
		border-color: #fff;
		border-style: solid;
		border-width: 8px 0 0 0;
		-webkit-border-image: url($path__images + 'border.png') 8 round;
		   -moz-border-image: url($path__images + 'border.png') 8 round;
		     -o-border-image: url($path__images + 'border.png') 8 round;
		        border-image: url($path__images + 'border.png') 8 round;

		@include flex(1 1 auto);
		margin-right: 0;
		width: auto;	
	}

	
}

/* Reset */
#menu-primary-mobile {
	ul { @include reset-list-style; }
	a {	@include reset-link-style; }

	li,	a {
		display: block;
	}
}

/* Structure */
#menu-primary-mobile {
    .menu-items {
    	display: none;
    }
}

/* Style */
#menu-primary-mobile {
	&, a { color: $color__text-menu; }

	.menu-items {
		border-top: 1px solid $color__border-submenu;
		background-color: $color__background-menu;
		text-align: left;
	}

	.menu-item {

	}

	a {
		color: inherit;
	}

	/* Top level */
	.menu-items > .menu-item {
		background-color: $color__background-menu-item;
		border-bottom: 1px solid $color__border-submenu;
		position: relative;

		> a {
			padding: 15px 20px;

			&:hover {
				background-color: $color__background-menu-item-hover;
				color: $color__text-menu-item-hover;
			}
		}

		&.current-menu-ancestor > a,
		&.current-menu-item > a {
			background-color: $color__background-menu-item-selected;
			color: $color__text-menu-item-selected;
		}

		&.expanded {

			a {
				&:hover {
					background-color: $color__background-menu-item-hover;
				}
			}
		}
	}	

	.sub-menu {
		display: none;
		padding: 2px 12px 10px;

		.menu-item{
			&:first-child { border-top: none; }

			a {
				padding: 8px 20px;
				font-size: rem(14px);

				&:hover {
					background-color: $color__background-submenu-item-hover;
					color: $color__text-submenu-item-hover;
				}
			}		

			&.current-menu-item { 
				background-color: $color__background-submenu-item-selected; 
				color: $color__text-submenu-item-selected;
			}
		}
	}

	.touch-button {
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
		padding: 15px 20px;
		background-color: rgba(black, 0.2);
		color: #fff;

		&:hover {
			background-color: rgba(black, 0.3);
		}
	}
}
