.pagination {
	text-align: center;

	.page-numbers {
		margin-right: 4px;
		color: $link-color;

		&.current {
			color: inherit;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	@include on-link-event;
}