/* Titles */
.entry-title,
.archive-title,
.widget-title,
.gsection_title {
	margin-top: 0;
	a {	color: inherit;	}
}

h1.entry-title,
.archive-title {

}

h2.entry-title {
	margin-bottom: 1.25rem;
}

.widget-title {

}

.gsection_title {
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}
