.widget_nav_menu {
	a {
		@include reset-link;
	}
	ul { 
		@include reset-list; 
		@include font-appearance(secondary, normal);

		li::before {
			content: "\203A";
			display: inline-block;
			width: 0.66666rem;
			padding-right: rem(2);
		}

		// li:hover::before {
		// 	text-align: right;
		// }

		ul {
			margin-left: 1.5rem;
			margin-top: vertical-space(0.5);
			margin-bottom: vertical-space(0.5);
			font-size: font-size(small);
		}
	}
}