.pagination {
	display: table;
	width: 100%;

	.prev,
	.next {
		display: table-cell;
		vertical-align: middle;
		background-color: $color-primary-b;
		color: $color-primary-contrast;
		&:hover {
			background-color: $color-primary-b-active;
		}
	}

	a {
		display: block;
		padding: rem(15) rem(20);		
		color: $color-primary-contrast;
		font-family: $heading-font-family;
		line-height: $heading-line-height;
	}

	.icon-wrap {
		display: table-cell;
		vertical-align: middle;
	}

	.link-wrap {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}

	.prev {
		.icon-wrap {
			text-align: left;
			padding-left: rem(15);
		}

		.link-wrap {
			text-align: left;
		}

		a {
			padding-left: rem(12);
		}
	}

	.next {
		.icon-wrap {
			text-align: right;
			padding-right: rem(15);
		}

		.link-wrap {
			text-align: right;
		}

		a {
			padding-right: rem(12);
		}


		
		// a:after {
		// 	@include icon( 'fa-var-arrow-right');
		// 	padding-left: rem(10);
		// }
	}

	&.two-way {
		.prev,
		.next {
			width: 50%;
		}

		.prev {
			background-color: $color-primary;
			&:hover {
				background-color: $color-primary-active;
			}
		}
	}

	&.one-way {}

}