.wp-caption {
	padding: space-y(0.5) space-x(0.5);
	background-color: $gray-lightest;
	@include border(base);
	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption-text {
	@include font-dimension(sm);
	padding: space-y(0.25) space-x(0.125) 0;
	font-style: italic;
	text-align: center;
	color: $font-color-light;
}
