.wp-caption {
	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption-text {
	@include font-dimension(sm);
	padding: space-y(0.125) space-x(0.125);
	font-style: italic;
	text-align: center;
	color: $font-color-light;
}
