.gallery {
	display: flex;
	flex-direction: row;
	align-items: equalize;
	flex-wrap: wrap;
	margin-left: rem(-$gallery-gutter);
	margin-right: rem(-$gallery-gutter);
	margin-top: space-y(1) - rem($gallery-gutter);
	margin-bottom: space-y(1) - rem($gallery-gutter);

	@include breakpoint(sm) {
		margin-left: rem(-90) - rem($gallery-gutter);
		margin-right: rem(-90) - rem($gallery-gutter);
	}

	.gallery-item {
		// flex: 0 0 100%;
		margin: 0 auto;
		text-align: center;
		padding: rem($gallery-gutter);
		img {
			display: block;
			width: 100%;
		}
	}
}

@include breakpoint(sm) {

	.gallery-columns-2 .gallery-item {
		flex-basis: 50%;
	}

	.gallery-columns-3 .gallery-item {
		flex-basis: 33.3333%;
	}

	.gallery-columns-4 .gallery-item {
		flex-basis: 25%;
	}

	.gallery-columns-5 .gallery-item {
		flex-basis: 20%;
	}

	.gallery-columns-6 .gallery-item {
		flex-basis: 16.6666%;
	}

}

.gallery .gallery-item {

}