//* Content Container
#main #content {
	// background-color: rgba( $content-background-color, 0.8 );
}

article.entry {
	position: relative;
	background-color: rgba( $content-background-color, 1 );

	.entry-details {
		background-color: $base-border-color;
	}

	.entry-header,
	.entry-content {
		background-color: $content-background-color;
	}

	.entry-header {
		border-left: 2rem solid $base-border-color;
		border-right: 2rem solid $base-border-color;
	}

	.entry-details {
		font-size: rem(14);
		line-height: 1;

		.wrap {
			border-radius: 30px;
			color: $color-light;
			// border: 8px solid $base-border-color;
		}

		.category,
		time,
		.comments {
			background-color: rgba(black, 0.1);
			color: $color-light;
			border-radius: $base-border-radius;
			padding: 5px 9px;
			display: inline-block;
		}

		.category {
			&:before {
				@extend .fa;
				@extend .fa-folder-o;
				margin-right: 4px;
			}
			// border: 2px solid $color-light;
		}

		time {
			&:before {
				@extend .fa;
				@extend .fa-clock-o;
				margin-right: 1px;
			}
			margin-left: 8px;
		}

		.comments {
			&:before {
				@extend .fa;
				@extend .fa-comments-o;
				margin-right: 1px;
			}
			margin-left: 8px;
		}
	}
}

.singular {
	article.entry {
		.entry-details {
			top: 2.5rem;

			.category {
				a {
					border-radius: $base-border-radius;
				}
			}
		}
	}
}

//* Archives
.plural {
	article.entry {
		.entry-header {}			

			.entry-title {}

		.entry-content {}		
	}
}
