//* Content Container
#main #content {
	// background-color: rgba( $content-background-color, 0.8 );
}



//* Archives
.plural {
	article.entry {
		position: relative;
		background-color: rgba( $content-background-color, 1 );
		&:last-child { 
			border-bottom: none; 
		}

		.entry-header {}
			.entry-details {
				@include clearfix;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				text-align: center;
			}
				.category {
					display: inline-block;
					
					a {
						display: block;
						background-color: $base-border-color;
						color: $color-light;
						line-height: 1;
						font-weight: bold;
						font-size: rem(14);
						padding: 6px 12px 11px;
						@include border-bottom-radius(50%);
					}
				}

				time {
					position: absolute;
					right: 0;
					top: 0;
					line-height: 1;
					padding: 6px 8px;
					white-space: nowrap;
				}

			.entry-title {}

		.entry-content {}		
	}
}
