#menu-primary {
	ul {
		text-align: right;
	}

	li {
		display: inline;
		margin-left: 1rem;
		a {
			padding: $base-gap / 4 $base-gap / 2 $base-gap / 3;
			display: inline-block;
			line-height: 1;
		}
	}

	li.current-menu-item {
		a {
			text-decoration: underline;
		}
	}
}