/**
 * Buttons
 *
 * button,
 * html input[type="button"],
 * input[type="reset"],
 * input[type="submit"]
 */

@mixin button($color: $color-1) {
	background-color: $color;
	color: $color-light;
	border-radius: $base-border-radius;
	font-weight: bold;
	padding: rem(8px) rem(12px);
	line-height: 1;
	display: inline-block;
	width: auto;
	
	&:hover,
	&:focus {
		background-color: darken($color, 5%);
		text-decoration: none;
	}
}

.button,
button,
input[type="button"], 
input[type="reset"],
input[type="submit"] {
	@include button();
}
