#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $color-light;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  transition: border-color;
  padding: 5px 7px;
  

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
  }
}
