/*------------------------------------------------------------------
Main typography
-------------------------------------------------------------------*/
html {
    font-size: $base-font-size / 16px * 100%;
}

body {
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    font-family: $base-font-family;
    color: $base-font-color;
    line-height: $base-line-height;
}


/*------------------------------------------------------------------
Typography blocks
-------------------------------------------------------------------*/
p,
ul,
ol,
dl,
table,
figure,
address,
blockquote,
pre,
code,
object,
hr,
.gallery,
audio,
video,
object,
embed,
iframe {
    margin-bottom: $gap;

    &:last-child {
        margin-bottom: 0;
    }
}


/*------------------------------------------------------------------
Links
-------------------------------------------------------------------*/

a {
    transition: color 0.1s linear;
    text-decoration: none;
    color: $color-1;

    &:active,
    &:focus,
    &:hover {

    }
}

#{$content-blocks} {
    a {
        color: $color-1;
        border-bottom: 1px dotted lighten($color-1, 10%);

        &:hover {
            border-bottom: 1px solid $color-1;
        }
    }

    a.button {
        color: $color-light;
        border-bottom: none;
    }
}


/*------------------------------------------------------------------
Headings
-------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $bold;
    color: $color-1;
}

h1 {
    font-size: $h1;
    line-height: $heading-line-height;
    margin-bottom: $gap;
}

h2 {
    font-size: $h2;
    line-height: $heading-line-height;
    margin-bottom: $gap;
}

h3 {
    font-size: $h3;
    line-height: $heading-line-height;
    margin-bottom: $gap;
}

h4 {
    font-size: $h4;
    line-height: $heading-line-height;
    margin-bottom: $gap / 1.5;
}

h5 {
    font-size: $h5;
    line-height: $heading-line-height;
    margin-bottom: $gap / 2;
}

h6 {
    font-size: $h6;
    line-height: $heading-line-height;
    margin-bottom: 0;
}


/*------------------------------------------------------------------
Titles
-------------------------------------------------------------------*/
#site-title {
    color: $color-light;
    margin-bottom: 0;
}

h1.entry-title {

}

h2.entry-title {

}

.widget-title {
    
}

.widget-title {
    #call-to-action & {}

    #content & {
        
    }
    
    #sidebar-primary & {
             
    }

    #footer & {
       
    }
}

.archive-title {}

.entry-title a {
    color: inherit;
    font-weight: inherit;
    border-bottom: none;
}


/*------------------------------------------------------------------
Blockquotes
-------------------------------------------------------------------*/

blockquote {}

    blockquote blockquote {}

    blockquote cite {}


/*------------------------------------------------------------------
Code
-------------------------------------------------------------------*/

code {}

pre {}

    pre code {}


/*------------------------------------------------------------------
Alignment
-------------------------------------------------------------------*/

.alignleft {
    float:        left;
    margin-right: 1.25rem;
    margin-bottom: 0.75rem;
}

.alignright {
    float:       right;
    margin-right: 1.25rem;
    margin-bottom: 0.75rem;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-left: auto;
}

.alignnone {
    float: none;
}


/*------------------------------------------------------------------
WP classes
-------------------------------------------------------------------*/

.wp-caption,
.wp-caption-text {
    
}


/*------------------------------------------------------------------
Other
-------------------------------------------------------------------*/

audio,
video,
object,
embed,
iframe {
    max-width: 100%;
}

img {
    display: block;
}

img.wp-smiley {
    max-height: 12px;
    background: transparent;
    display:    inline;
}

.clear {
    clear: both;
}

.hide,
.hidden {
    display: none;
}

.show-if-js {
    display: none;
}

.screen-reader-text {
    display: none;
}