//* Typography
$base-font-family: 'Open Sans', arial, sans-serif;
$heading-font-family: 'Open Sans', arial, sans-serif;

$bold: 700;
$normal: 400;

//* Default Font Size & line-height
$em-base: 14px;
$base-font-size: $em-base;
$base-line-height: 1.64286;
$base-line-height: 23 / strip-units($em-base);

$big-font-size: rem($base-font-size + 2px);
$small-font-size: rem($base-font-size - 2px);

//* Heading Sizes & line-height
$h1: rem(26px);
$h2: rem(23px);
$h3: rem(20px);
$h4: rem(17px);
$h5: rem(14px);
$h6: rem(14px);
$heading-line-height: 1.2;

//* Other Sizes
$gap: rem(18px);
$base-gap: $gap;

//* Paths
$img_path: 'assets/images/';

//* Colors
$color-1: #673ab7;
$color-1-b: #b388ff;
$color-2: #e91e63;
$color-light: #fff;
$color-dark: #333;

$base-font-color: $color-dark;
$heading-font-color: $color-dark;
$action-color: $color-1;

$base-background-color: #F5F5F5;
$content-background-color: $color-light;

//* Border
$base-border-color: #ccc;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

//* Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

//* Other
$base-z-index: 0;
$box-sizing: true;

//* Elements which contain structured typography
$content-blocks:	'.entry-content',
					'.textwidget';