/***********************
 * Default Form Styles
 ***********************/

/* Firefox button/input-submit lineheight solution */
button::-moz-focus-inner,
input::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
}

input,
textarea,
select {
	background-color: #fff;
	border: 1px solid #d0d0d0;
	color: #333;
	@include fontsize(15px, 1.2);
	font-weight: 300;
	padding: pxrem(8px);
	width: 100%;
	outline: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
	box-shadow: inset 0 0 4px #eee;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 3px #51cbee;
	border: 1px solid #51cbee;
}

::-moz-placeholder,
::-webkit-input-placeholder {
	color: #777;
	font-weight: 300;
}

::-moz-placeholder {
	opacity: 1;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

/* Buttons */
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	border: none;
	box-shadow: none;
	background-color: $color-secondary;
	color: #fff;
	@include fontsize($font-size, 1.2);
	font-weight: 500;
	padding: pxrem(9px 12px);
	cursor: pointer;
	width: auto;

	&:hover {
		background-color: darken($color-secondary, 5%);
		text-decoration: none;
	}
}

/* Checked */
input[type="radio"]:checked + label, 
input[type="checkbox"]:checked + label {
    font-weight: 500;
}

/***********************
 * Gravity Forms
 ***********************/

/* Variables */
$asterix: #790000;
$error: #790000;
$confirmation: #007900;

/* Reset */
.gform_wrapper {

	ol,
	.gform_fields,
	.gfield {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}

}

/* Structure */
.gform_wrapper {
	margin-bottom: 1rem;

	.gform_heading {
		margin-bottom: 8px;
	}

	.gform_body { 
		margin-bottom: 20px;
	}

	.gform_footer {
		/* spinner */
		img { margin-left: 10px; }
	}

	.gfield {
		margin-bottom: 15px; 

		.gfield_label {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 500;
		}

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		select {
			&.small { width: 23%; }
			&.medium { width: 48%; }
			&.large { width: 100%; }
		}

		textarea {
			&.textarea { width: 100%; }
			&.large { width: 100%; }
		}

		ul.gfield_radio,
		ul.gfield_checkbox {
			margin-left: 0;

			li {
				list-style-type: none;
			}

			label {
				margin-left: 6px;
			}

			input {
				width: auto;
				padding: 0;
				margin: 0;
			}
		}

	}



	.left_label .gfield {
		@extend .hard-clear;
		margin-bottom: 20px;

		.gfield_label {
			float: left;
			width: 30%;
			margin-right: 3%;
		}

		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="email"],
		input[type="tel"],
		select {
			&.small { width: 20%; }
			&.medium { width: 40%; }
			&.large { width: 67%; }
		}

		textarea {
			&.textarea { width: 40%; }
			&.large { width: 67%; }
		}
	}
}

/* Halves & inlines */
.gform_wrapper {
	.gfield {
		&.gf_left_half {
			clear: left;
			float: left;
			padding-right: 2%;
			width: 50%;
		}

		&.gf_right_half {
			clear: right;
			float: right;
			padding-left: 2%;
			width: 50%;
		}

		&.gf_left_half,
		&.gf_right_half {
			input[type="text"],
			input[type="search"],
			input[type="password"],
			input[type="email"],
			input[type="tel"],
			select,
			textarea {
				&:not(.small) {
					width: 100%;
				}
			}
		}

		&.gf_list_inline {
			margin-bottom: 7px;
			ul.gfield_checkbox li, 
			ul.gfield_radio li {
				display: inline-block;
				float: none;
				margin: 0 16px 8px 0;
				width: auto;
			}
		}

		&.gsection {
			clear: both;
			padding: 16px 0 2px;
			border-bottom: 3px solid $color-ui;
			margin-bottom: 14px;
			text-align: left;

			.gsection_title {
				margin-bottom: 0;
				@include fontsize(20px);
				text-transform: uppercase;
			}

			&:first-child .gsection_title { 
				margin-top: 0;
			}
		}
	}
}

/* Sidebar */
.widget .gform_wrapper {
	margin-bottom: 1.2rem;

	.gfield {
		margin-bottom: 8px;

		input,
		select {
			&.small { width: 50%; }
			&.medium { width: 100%; }
			&.large { width: 100%; }
		}

		textarea {
			&.textarea { width: 100%; }
			&.large { width: 100%; }
		}

		.gfield_label {
			font-weight: 300;
			display: inline;
			margin-bottom: 0;
		}
	}
}

/* Gravity form specifics */
.gform_wrapper {
	.validation_error {
		border: 1px solid #ddd;
		background-color: #e5e5e5;
		color: #222;
		font-style: italic;
		padding: pxrem(10px 12px);
		margin: 10px 0 20px;
	}

	.gform_confirmation_message {
		background-color: lighten( $confirmation, 73% );
		border: 1px solid lighten( $confirmation, 60% );
		color: $confirmation;
		font-weight: 500;
		padding: pxrem(10px 10px);
	}

	li.gfield {
		span.gfield_required {
			color: $asterix;
			margin-left: 4px;
		}

		.validation_message {
			font-weight: 500;
		}
	}

	li.gfield_error {
		padding: pxrem(10px);
		background-color: lighten( $error, 73% );
		border: 1px solid lighten( $error, 68% );

		.validation_message {
			color: $error;
		}

		.gfield_label {
			color: $error;
		}
	}

	/* === hide the honeypot field === */
	.gform_validation_container {
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}
}