#content {
	// margin-top: -10rem;
	background-color: $color__background-main;
	padding: 2.75rem 3rem;
	position: relative;
	
	.entry {
		margin-bottom: $vertical__space;
	}	

	.entry-content {
		
	}

	.entry-byline {
		display: none;
	}

	.entry-header {
		
	}

	.entry-footer {
		
	}
}


/* Plural styles */
#content {	
	.entry + .entry {
		&::before {
			content: '';
			display: block;
			height: 1px;
			width: 25%;
			background-color: $color__border;
			margin: 2rem 0 2rem;
		}
	}
}