#footer {
	background-color: $color__background-footer;
	&, a {	color: $color__text-footer;	}
	
	margin-top: -46px;
	> .wrap {
		margin-top: 46px;
		padding: 1rem 0 1.5rem;
		text-align: center;
	}

	#toTop {
		font-weight: $font__weight-bold;
		cursor: pointer;
		
		&:before {
			@include icon( 'fa-arrow-circle-up' );
			padding-right: rem(6);
		}
	}
}

