#footer {
	background-color: palette(grey, light);
	color: palette(black, dark);
	
	a {	
		color: inherit;
	}

	margin-top: -46px;
	> .wrap {
		margin-top: 46px;
		padding: 1rem 0 1.5rem;
		text-align: center;
		max-width: $width__site-max;
		margin-left: auto;
		margin-right: auto;
	}

	@include media($breakpoint__medium) {
		padding-left: 100px;
		> .wrap { margin-left: 0; margin-right: 0; }
	}

	@include media($breakpoint__small) {
		padding-left: 16px;
		padding-right: 16px;
	}

	@include media($breakpoint__tiny) {
		padding-left: 0;
		padding-right: 0;
	}


	#toTop {
		font-weight: $font__weight-bold;
		cursor: pointer;
		
		&:before {
			@include icon( 'fa-arrow-circle-up' );
			padding-right: rem(6);
		}
	}
}

