#header {
	&, a { color: $color__text-header; }
	margin-bottom: -77px;

	> .wrap {
		max-width: $width__site-max;
		margin: 0 auto;
		
		> .wrap {
			position: relative;
			height: 118px;
		}
	}

	@include media($breakpoint__medium) {
		padding-left: 100px;
		> .wrap { 
			margin: 0; 
		}
	}

	.header-border {
		position: absolute;
		left: -24px;
		top: 17px;
		height: 100px;
		width: 24px;
		border-color: #fff;
		border-style: solid;
		border-width: 8px 0 0 8px;
		-webkit-border-image: url($path__images + 'border.png') 8 round;
		   -moz-border-image: url($path__images + 'border.png') 8 round;
		     -o-border-image: url($path__images + 'border.png') 8 round;
		        border-image: url($path__images + 'border.png') 8 round;
	}

	#branding {
		position: absolute;
		top: 14px;
		left: -54px;
		width: 18px;
		word-break: break-all;
		text-transform: uppercase;
		text-align: center;

		.site-title {
			font-size: rem(24px);
			font-family: $font__family-heading;
			line-height: 1.125;
			font-weight: $font__weight-bold;
		}
	}
}
