#container {
	background-color: $color__background-body;
	@include display(flex);
	@include flex-direction(column);
	@include align-items(stretch);
	min-height: 100%;
}

#header {}

#main {
	> .wrap {
		background-color: $color__background-main;
	}
}

#footer {
	@include flex-grow(1);
	@include flex-shrink(1);
	@include flex-basis(auto);
}

#header > .wrap,
#main > .wrap,
#footer > .wrap {
	max-width: $width__site-max;
	margin: 0 auto;
}

#content {
}

#sidebar-primary {
}


@include media(tablet) {
}

@include media(phablet) {
}

@include media(smartphone) {
}
