#container {
	background-color: palette(white);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100%;
}

#footer {
	flex: 1 1 auto;
}

@import "layout/header";
@import "layout/main";
@import "layout/content";
@import "layout/footer";


@include media(tablet) {
}

@include media(phablet) {
}

@include media(smartphone) {
}
