// Theme colors
$color__primary: color(pear);
$color__white: color(cotton);
$color__grey: color(cloud);
$color__black: color(ebony);

$palettes: (
    primary: (
        base:   $color__primary,
        light:  lighten($color__primary, 10%),
        dark:   darken($color__primary, 10%)
    ),
    grey: (
        base:  $color__grey,
        light: lighten($color__grey, 10%),
        dark:  darken($color__grey, 10%)
    ),
    white: (
        base:  $color__white,
        light: lighten($color__white, 10%),
        dark:  darken($color__white, 10%)
    ),
    black: (
        base:  $color__black,
        light: lighten($color__black, 10%),
        dark:  darken($color__black, 10%)
    ),
);