/* Common Colors */
$colorFacebook: #3b5998;
$colorInstagram: #3f729b;
$colorLinkedin: #0e76a8;
$colorPinterest: #c8232c;
$colorGoogle: #dd4b39;
$colorTwitter: #33ccff;
$colorYoutube: #c4302b;
$colorWordpress: #21759b;

.footer-widgets a[href*="facebook.com"],
.footer-widgets a[href*="instagram.com"],
.footer-widgets a[href*="linkedin.com"],
.footer-widgets a[href*="pinterest.com"],
.footer-widgets a[href*="plus.google.com"],
.footer-widgets a[href*="twitter.com"],
.footer-widgets a[href*="youtube.com"],
.footer-widgets a[href*="wordpress.com"],
.footer-widgets a[href*="wordpress.org"] {
	span {
		position: absolute;
		top: -9999px;
	}

	&:before {
		@extend .icon;
		color: #fff; 
		text-align: center;
		width: 16px;
		padding: 7px 6px;
		margin-right: 4px;
	}

	&:hover:before {
		-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	}
}

.footer-widgets a[href*="facebook.com"]:before { 
	content: $icon-facebook;
	background-color: $colorFacebook;
}
.footer-widgets a[href*="instagram.com"]:before { 
	content: $icon-instagram;
	background-color: $colorInstagram;
}
.footer-widgets a[href*="linkedin.com"]:before { 
	content: $icon-linkedin;
	background-color: $colorLinkedin;
}
.footer-widgets a[href*="pinterest.com"]:before { 
	content: $icon-pinterest;
	background-color: $colorPinterest;
}
.footer-widgets a[href*="plus.google.com"]:before { 
	content: $icon-google-plus;
	background-color: $colorGoogle;
}
.footer-widgets a[href*="twitter.com"]:before { 
	content: $icon-twitter;
	background-color: $colorTwitter;
}
.footer-widgets a[href*="youtube.com"]:before { 
	content: $icon-youtube;
	background-color: $colorYoutube;
}
.footer-widgets a[href*="wordpress.com"]:before, 
.footer-widgets a[href*="wordpress.org"]:before { 
	content: $icon-wordpress;
	background-color: $colorWordpress;
}