#{$all-text-inputs},
select,
textarea {
	color: palette(black, light);
	border: 1px solid palette(grey);
	border-radius: 3px;	
	padding: rem(4) rem(8);
	background-color: palette(white);

	&:hover {
		border-color: palette(grey, dark);
	}

	&:focus {
		color: palette(black);
		border-color: palette(primary);
	}
}

select {
	padding: rem(7) rem(8) rem(6);
}

textarea {
	resize: vertical;
	min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
	text-decoration: underline;
}

/* Gravity Forms */
.gform_wrapper .gf_list_inline {
	li {
		// padding: rem(5) rem(8);
		margin: rem(5) rem(16) rem(5) 0;
	}
	input + label {

	}
}

