/********************************************************************************************************
 * COMMENTS
 *
 * TABLE OF CONTENTS:
 * 	- Comments
 ********************************************************************************************************/

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {

}



.entry-comments  {
	margin-bottom: 0;
}

.comment-list {
	list-style: none;
	margin:     0;

	.comment {
		margin-bottom: 1.5rem;

		.comment-header {
			font-size: 1rem;
			/*margin-bottom: 0.5rem;*/
			float: left;
			width: 100%;

			.comment-author,
			.comment-meta {
				float: left;
				margin-bottom: 0;
			}

			.comment-author {
				background: black;
				color: white;
				padding: 0.2rem 0.6rem;
				font-weight: bold;

				&:before {
					color: yellow;
					font-weight: normal;
					font-family: FontAwesome;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					@extend .fa-user;
					margin-right: 4px;
				}
			}

			.comment-meta {
				padding: 0.2rem 0.6rem;
				font-size: 0.8rem;
				line-height: $line-height#{rem};

/*				&:before {
					font-family: FontAwesome;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					@extend .fa-clock-o;
					margin-right: 4px;
				}*/
				.comment-time {
					
				}
			}

			.comment-meta,
			.comment-meta a {
				color: #000;
			}
		}		

		.comment-content {
			margin: 0;
			padding: 1rem;
			background: #fff;
			clear: both;

			:last-child {
				margin-bottom: 0;
			}
		}		
	}
}

.comment-respond {
	input[type="email"],
	input[type="text"],
	input[type="url"] {
		width: 50%;
	}

	label {
		display: block;
	}

	.comment-reply-title {
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 0.8rem;
	}
}



.entry-pings .reply {
	display: none;
}
