/* Site Header Navigation
--------------------------------------------- */
/* ===== Primary Menu ===== */
.nav-primary {

	background-color: $color-menu;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #0E8346),
		color-stop(1, #107D45)
	);
	background-image: -o-linear-gradient(bottom, #0E8346 0%, #107D45 100%);
	background-image: -moz-linear-gradient(bottom, #0E8346 0%, #107D45 100%);
	background-image: -webkit-linear-gradient(bottom, #0E8346 0%, #107D45 100%);
	background-image: -ms-linear-gradient(bottom, #0E8346 0%, #107D45 100%);
	background-image: linear-gradient(to bottom, #0E8346 0%, #107D45 100%);

	border-top: 5px solid #fff;
}

/* === Reset === */
ul.genesis-nav-menu,
ul.genesis-nav-menu ul {
	list-style: none;
	margin:     0;
}

@include mobile {
	.genesis-nav-menu,
	.genesis-nav-menu .sub-menu {
		display: none;
	}
	
	.genesis-nav-menu {
		padding-bottom: pxrem(15px);

		.menu-item {
			border-top: 1px solid rgba(#fff, 0.2);
		}

		a {
			display: block;
			font-weight: 500;
			color: #fff;
		}

		/* Top level */
		> .menu-item {
			position: relative;

			> a {
				padding: pxrem(15px 20px);

				&:hover {
					background-color: darken($color-primary,2%);
				}			
			}

			.touch-button {
				position: absolute;
				top: 0;
				right: 0;
				text-align: center;
				cursor: pointer;
				color: rgba(#000,0.5);
				padding: pxrem(15px 20px);
				background-color: rgba(#000, 0.1);
				color: #fff;
			}
		}	

		> .current-menu-ancestor > a,
		> .current-menu-item > a {
			background-color: darken($color-primary,2%);
		}

		.menu-item.expanded {
			background-color: lighten($color-primary, 5%);

			a {
				background-color: lighten($color-primary, 5%);
				&:hover {
					background-color: rgba(#000, 0.1);
				}
			}
		}

		.sub-menu {
			padding: pxrem(2px 12px 10px);

			.menu-item{
				&:first-child { border-top: none; }

				a {
					padding: pxrem(8px 20px);
					font-weight: 300;
					font-size: pxrem(15px);
					line-height: lh(15px);
				}

				&.current-menu-item > a { background-color: rgba(#000,0.1); }
			}
		}
	}

	.responsive-menu-icon {
		font-weight: 500;
		cursor: pointer;
		color: #fff;

		padding: pxrem(15px 20px);
		@include fontsize(18px, 1);
		text-align: center;

		&:hover {
			background-color: darken($color-primary,2%);
		}

		@include icon-before($icon-bars, 5px);		
		&.expanded {
			&:before { content: $icon-remove; }
		}
	}
}

@include desktop {
	.responsive-menu-icon,
	.touch-button {
		display: none;
	}
	
	.genesis-nav-menu {

		.menu-item {}

		a {
			display: block;		
		}

		/* Top level */
		> .menu-item {
			float: left;

			> a {
				padding: pxrem(15px 20px);
				font-weight: 500;
				color: #fff;
			}

			&:hover {
				> a {
					background-color: darken($color-primary,2%);
				}

				.sub-menu {
					display: block;
				}
			}
		}

		> .current-menu-ancestor > a,
		> .current-menu-item > a {
			background-color: darken($color-primary,2%);
		}

		.sub-menu {
			display: none;

			position: absolute;
			max-width: 220px;

			@include fontsize(15px);

			padding: 4px 8px 8px;

			background-color: darken($color-ui,2%);

			.menu-item{
				padding: pxrem(0 0px);
				a{
					color: $color-secondary;
					padding: pxrem(6px 8px);
					
					font-weight: 500;
					border-top: 1px solid rgba(#000,0.1);
				}

				&:first-child a {
					border-top: none;
				}

				&:hover {
					background-color: rgba(#000, 0.1);
				}			

				&.current-menu-item { 
					background-color: $color-secondary;
					a { color: #fff; }
				}
			}
		}
	}
}

