#branding {
	margin-top: 19px;
	margin-bottom: 13px;
	a {
		display: block;
	}

	// * {
	// 	@include transition (all 2s ease-in-out);
	// }

	#site-title {
		a {
			color: $color-light;
		}
	}

	#site-description {
		font-size: 14px;
		line-height: 1.2;
		margin-left: 2px;
		margin-bottom: 3px;
	}

	.shrink-header & {
		img {
			// width: 300px;
			height: 50px;
			width: auto;
		}

		#site-description {
			display: none;
		}
	}

}
