%main-entry-title {
    border-bottom: 2px solid $color-2;
    margin-bottom: $gap;
    span {
        padding: 4px 12px 4px;
        display: inline-block;
        background-color: $color-2;
        color: $color-light;
    }   
}

h1.entry-title {
    @extend %main-entry-title;
    font-size: $h2;
}

.widget-title {
    
}

.widget-title {
    #content & {
        @extend %main-entry-title;   
        font-size: $h2;
    }
    
    #sidebar-primary & {
        @extend %main-entry-title;   
        // border-bottom: none;
        // margin-bottom: 2px;
        font-size: $h3;
        span {
            padding: 5px 8px 5px;
            // background-color: rgba($base-background-color,0.8);
            // color: $color-1;
        }        
    }

    #footer & {
        margin-bottom: 7px;
    }
}

.archive-title {}

.entry-title a {
    @extend %a;
    font-weight: inherit;
    border-bottom: none;
}