#sidebar-primary .widget .menu {
	a {	
		display: block;

		border-top: 1px solid rgba($color-1, 0.2);
		border-bottom: 1px solid transparent;

		&:hover {
			background-color: rgba($color-1, 0.2);
			border-top-color: transparent;
		}
	}

	//* Hide sub-menu
	.sub-menu {
		display: none;
	}

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	> li {
		> a {
			margin-left: 1rem;
			margin-right: 1rem;
			padding-top: 6px;
			padding-bottom: 6px;
			
			&:hover {
				margin-left: 0;
				margin-right: 0;
				padding-left: 1rem;
				padding-right: 1rem;				
			}
		}		

		//* if current menu-item and has children
		&.current-menu-item.menu-item-has-children,
		&.current-menu-ancestor.menu-item-has-children {

			//* Fix borders
			> a {
				border-bottom-color: rgba($color-1, 0.2);
				&:hover {
					border-bottom-color: transparent;
				}
			}

			//* Show sub-menu
			.sub-menu {
				display: block;
			}
		}

		//* Fix borders for first item
		&:first-child > a {
			border-top: none;
			&:hover {
				border-top: none;
			}
		}
	}

	//* Submenu
	.sub-menu {
		li {
			a {
				margin-left: 1rem;
				margin-right: 1rem;
				padding-left: 1.25rem;
				padding-top: 4px;
				padding-bottom: 4px;

				&:hover {}
			}

			&:first-child > a {
				border-top-color: transparent;
			}
		}
	}

	/* Active */
	li.current-menu-item > a {
		font-weight: bold;
	}

	//* Hide top-border of next menu-item
	li:hover + li > a {
		border-top-color: transparent;
	}

	//* Fix for current menu-item with children (multiple :not() isn't possible)
	li.current-menu-item.menu-item-has-children:hover + li > a,
	li.current-menu-ancestor.menu-item-has-children:hover + li > a { 
		border-top-color: rgba($color-1, 0.2);
	}
}