.widget {
	position: relative;
}

#content .widget {
	margin-bottom: 2rem;
}

#sidebar-primary .widget { 
    margin-bottom: 2rem;
}

#footer .widget {
	margin-bottom: 1.25rem;
}


#sidebar-primary .textwidget {
	padding: 1.1rem 1.25rem 1.25rem;
}

/**
 * Three Blocks Widget 
 */
.three-blocks-widget {

	.block {
		background-color: $base-background-color;
		padding: 1.25rem;
	}
}

/**
 * Image Slider Widget
 */
.image-slider-widget {

	.marquee {
		width: 100%; /* the plugin works for responsive layouts so width is not necessary */
		overflow: hidden;
		line-height: 0;
	}

	.js-marquee-wrapper {}
	.js-marquee {  }

	ul.image-slider {
		width: 1000px; //* Prevent images loaded underneath each other. 

		.slide {
			display: inline-block;
		}

		img {
			height: 150px;
			width: auto;
			display: block;
		}

		a {
			display: block;
		}

		a:hover img {
			opacity: 0.9;
		}
	}

	.js-marquee ul.image-slider {
		width: auto;
	}

}

/**
 * Simple Testimimonials Widget
 */
.widget.simple-testimonials {
	.testimonials-wrap {
		position: relative;
		background-color: $base-background-color;
		padding: 1.25rem;

		ul.testimonials {
			margin-bottom: 0;
		}		

		.testimonial {

			.quote-wrap {
				display: table;
				width: 100%;
				height: 110px;

				blockquote {
					display: table-cell;
					vertical-align: middle;
				}
			}

			blockquote {
			    font-style: italic;
			    font-size: rem(15px);
				padding: 1.25rem 2rem;
				padding-left: 2.5rem;
			    &::before {
			        color: lighten($base-font-color, 50%);
			        content: "\201c";
			        font-size: 4em;
			        font-family: georgia, helvetica, serif;
			        position: absolute;
			        margin-left: -34px;
			        margin-top: -20px;
			    }
			}

			h4 {
				font-size: $h3;
				margin-bottom: 0;
				margin-top: 2px;
			}

			.caption {
				display: none;
			}
		}

		.button {
			position: absolute;
			right: 1.25rem;
			top: 1.25rem;
		}
	}
}

/**
 * Footer menu
 */
#footer .widget_nav_menu {

	li {
		&:before {
			content: '\25B8';
			margin-right: 5px;
		}

		ul {
			margin-left: 1.1rem;
			margin-bottom: 1px;

			li {
				&:before {
					content: '\25AA';
					margin-right: 7px;
				}
			}

		}

	}

	a:hover {
		text-decoration: underline;
	}
}
