.blog,
.single-post,
.archive {

	.content {
		.entry {
			margin-bottom: 1.5rem;
		}

		.entry-meta {
	    	@include fontsize(15px);
	    	font-style: italic;
	    	margin-bottom: 0;
	    	color: lighten($color-font, 20%);
		}

		.entry-footer {
			.entry-meta {
				text-align: right;				
				padding: pxrem(2px 2px 0 6px);
				border-top: 3px solid $color-ui;
			}
		}
	}
}