/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 4.564102564102564%;

	&:first-child {
		clear: both;
		margin-left: 0;
	}
}

.one-half,
.three-sixths,
.two-fourths {
	width: 47.717948717948715%;
}

.one-third,
.two-sixths {
	width: 30.623931623931625%; 
}

.four-sixths,
.two-thirds {
	width: 64.81196581196582%;
}

.one-fourth {
	width: 21.576923076923077%; 
}

.three-fourths {
	width: 74.35897435897436%;
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}

.full-column {
	float: none;
	margin-left: 0;
	width: 100%;
}

/**
 * %-selector: It doesn't appear as a class in the stylesheet
 * http://thesassway.com/intermediate/understanding-placeholder-selectors 
 */
/*%one-half-large {
	@include breakpoint(large) {
		width: 47.717948717948715%;

		&:nth-child(odd) {
			margin-left: 0;
			clear: both;
		}
	}
	@extend %full-tiny;
}

%one-half-medium {
	@include breakpoint(medium) {
		width: 47.717948717948715%;

		&:nth-child(odd) {
			margin-left: 0;
			clear: both;
		}
	}
	@extend %full-tiny;
}

%full-large {
	@include breakpoint(large) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}

%full-medium {
	@include breakpoint(medium) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}

%full-small {
	@include breakpoint(small) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}

%full-tiny {
	@include breakpoint(tiny) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}*/