//--------------------------------------------------------------
// Functions
//--------------------------------------------------------------

// http://davidwalsh.name/rem-px-browser-function-sass
// modified by Erik Joling <erik@ejoweb.nl>

@function parseInt($n) {
	@return $n / ($n * 0 + 1); 
}

@function pxrem($values){ 

      $defaultFontSize: 16; 
      $list: (); 

      @each $value in $values { 

            @if $value == 0 or $value == 'auto' {
                  $list: append($list, $value);
            }

            @else {

                  $unit : unit($value); 
                  $val  : parseInt($value); 

                  @if ($unit == 'px'){ 
                        $list: append($list, ($val / $defaultFontSize) + rem); 
                  }

                  @else if ($unit == 'rem') { 
                        $list: append($list, $value); 
                  }

                  @else {
                        @warn 'There is no unit conversion for #{$unit}'; 
                  }

            }

      }

      @return $list(); 

}

// Rounding line-height number based on font-size and line-height
@function lh($fontSize, $lineHeight: false)
{
    @if ($lineHeight == false) { $lineHeight: $line-height; }
    
    $unit : unit($lineHeight); 
    $val: parseInt($fontSize);

    @if ($unit != 'px'){ 
		$lineHeight: floor($lineHeight * $fontSize) / $fontSize;
    }

	@return $lineHeight;
}

// Calculate font-size small
@function shrinkfsize($fontSize){
	$defaultFontSize: 16; 

	// Algorithm to define how much smaller the fontSizeSmall will be
	$sizeDegration: round($fontSize / ($defaultFontSize - 3));
	$fontSizeSmall: $fontSize - $sizeDegration;

	@return $fontSizeSmall;
}

