//* Colors
$color-primary: #673ab7;
$color-primary-b: #512da8;
$color-secondary: #EEE;

//* Active
$color-primary-active: darken( $color-primary, 5% );
$color-primary-b-active: darken( $color-primary-b, 5% );

$color-light: #fff;
$color-dark: #333;
$color-dark-b: #424242;

//* Contrasted colors
$color-primary-contrast: $color-light;
$color-secondary-contrast: $color-dark-b;

//* Font
$base-font-color: $color-dark;
$heading-font-color: $color-dark;

//* Action / Links
$action-color: $color-primary;
$action-color-alt: $color-light;

//* Body
$body-background-color: $color-light;