//* Viewsize containers
$desktop-width: 540px;
$smartphone-width: 380px;

$desktop-breakpoint: 580px;
$smartphone-breakpoint: 380px;

//* Minimum
$max-width: $desktop-width;
$min-width: 300px;

//* Neat variables
$column: 60px;
$gutter: 36px;
$grid-columns: 6;
$border-box-sizing: false;

// Define your breakpoints
$smartphone: new-breakpoint(max-width $desktop-breakpoint, 6);
$barebones: new-breakpoint(max-width $smartphone-breakpoint, 6);

