
/**
 * Misc
 */
hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

blockquote {
    font-style: italic;
    margin-left: 2rem;
    &::before {
        color: #ccc;
        content: "\201C";
        font-size: 4em;
        position: absolute;
        margin-left: -2.3rem;
        margin-top: -1.7rem;
    }

    p {
        // display: inline;
    }
}

time {
    color: $meta-font-color;
    font-style: italic;
}