// Typography
$base-font-family: $helvetica;
$text-font-family: $georgia;
$heading-font-family: $helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.625;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-gap: $base-line-height * 1rem;
$tiny-gap: $base-gap * 0.50;
$small-gap: $base-gap * 0.75;
$large-gap: $base-gap * 1.25;
$huge-gap: $base-gap * 1.5;
$base-z-index: 0;

// Colors
$color-1: #477dca;
$color-2: #000000;
$color-light: #fff;
$blue: $color-1;
$base-font-color: #333;
$heading-font-color: #333;
$meta-font-color: #777;
$action-color: $blue;

$base-background-color: #eea;
$content-background-color: #fff;


// Border
$base-border-color: #777;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$text-containers:	'#content .entry-content,
					 .textwidget';