/* Reset */
body .gform_wrapper form {
	ol,
	ul {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}

	li {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}
}

/* Structure */
body .gform_wrapper form {

	.gform_heading {}

	.gform_body {
		margin-bottom: 0.75rem;
	}

	.gform_footer {
		clear: both;

		img { 
			display: inline-block;
			margin-left: 0.75rem; 
		}

		.button {
			padding: 0.75rem;
			min-width: 30%;
		}
	}

	.gform_fields {
		@include clearfix;
	}

	.gfield {
		clear: both;
		margin-bottom: 1rem;

	    &.hide {
			display: none;
		}
	}

	.gsection {
		padding-top: 0.75rem;
		.gsection_title {}
	}

	.gfield_label {
		display: inline-block;

		&:empty {
			display: block;
			line-height: 0;
			visibility: hidden;
		}
	}

	.gfield_description {
	}

	input[type="text"],
	input[type="password"],
	input[type="search"],	
	select,
	textarea {
		margin-bottom: 0;
	}

	// Input sizes
	.small { width: 23%; }
	.medium { width: 48%; }
	.large { width: 100%; }

	.textarea { width: 100%; }

	ul.gfield_radio,
	ul.gfield_checkbox {		
		li {
			&:last-child {}
		}

		label {
			padding-left: 0.5rem;
			cursor: pointer;
		}
	}

	.top_label {
		.gfield_label {
			margin-bottom: 0.25rem;
		}
	}

	.left_label {
		.gfield_label {
			width: 30%;
			margin-right: 3%;
		}

		.small { width: 20%; }
		.medium { width: 40%; }
		.large { width: 67%; }
		
		.textarea { width: 40%; }
		.textarea.large { width: 67%; }
	}

	//* Structure
    .ggroup {
    	margin-bottom: 0.75rem;
		@include clearfix;
    	.gfield {
    		margin-bottom: 0.75rem;
    	}
    	.gsection {
			padding-top: 0;
		}
    }

	.gcolumn {
		@extend .gf_left_half;

		+ .gcolumn {
			@extend .gf_right_half;
		}

		.gf_left_half,
		.gf_right_half {
			clear: none;
			float: none;
			padding-right: 0;
			padding-left: 0;
			width: auto;
		}
	}

	.ginput_container {
		@include clearfix;
	}

	.gf_left_third,
	.gf_left_half,
	.ginput_left {
		clear: left;
		float: left;
		margin-right: 2%;
		margin-left: 0;
	}

	.gf_right_half,
	.gf_right_third,
	.ginput_right {
		clear: right;
		float: right;
		margin-left: 2%;
		margin-right: 0;
	}

	.gf_middle_third {
		clear: none;
		float: left;
		margin-left: 2%;
		margin-right: 2%;
	}

	.gf_left_half,
	.ginput_left,
	.gf_right_half,
	.ginput_right {
		width: 48%;
	}

	.gf_left_third,
	.gf_middle_third,
	.gf_right_third {
		width: 30.66666%;
	}

	.gf_left_half,
	.gf_right_half,
	.gf_left_third,
	.gf_middle_third,
	.gf_right_third {
		.medium,
		.large {
			width: 100%;
		}
	}

	.gf_list_inline {
		ul.gfield_radio,
		ul.gfield_checkbox {
			li {
				display: inline-block;
				margin-right: 12px;

				&:last-child {}

				input,
				label {
					display: inline;
				}
			}
		}
	}
}

/* Sidebar */ // Maybe custom class 
body .widget .gform_wrapper form {

	.small { width: 50%; }
	.medium { width: 100%; }
	.large { width: 100%; }

	.textarea { width: 100%; }
}