// Contextual backgrounds
@mixin background-variant($color: $gray) {
	background-color: $color;
	color: $font-color-inv;

	#{$links} {
		color: inherit;
		@include on-event() {
		}
	}



	 //    h1, h2, h3, h4, h5, h6 {
	 //        color: inherit;
	 //        span {
	 //        	color: inherit;
	 //        }
		// }

	  //   #{$textcontent-links} {
	  //   	color: inherit;
	  //   	text-decoration: underline;
			// @include on-event {
			// 	color: rgba($white, 0.8);
	  //       }
	  //   }

		// #{$buttons} {
		// 	@include button-style(white);

		// 	&.highlight {
		// 		@include button-style(flame-pea)
		// 	}
		// }
}
