/**
 * Buttons
 */

@mixin button($color: $color-primary) {
	font-weight: $bold-weight;
	width: auto;
	line-height: $base-line-height;
	background-color: transparent;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.button,
button,
input[type="button"], 
input[type="reset"],
input[type="submit"] {
	@include button();
}
