/*------------------------------------------------------------------
Alignment
-------------------------------------------------------------------*/

.alignleft {
    float:        left;
    margin-right: 1.25rem;
    margin-bottom: 0.75rem;
}

.alignright {
    float:       right;
    margin-right: 1.25rem;
    margin-bottom: 0.75rem;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-left: auto;
}

.alignnone {
    float: none;
}


/*------------------------------------------------------------------
Media
-------------------------------------------------------------------*/

audio,
video,
object,
embed,
iframe {
    max-width: 100%;    
}

img.wp-smiley {
    max-height: 12px;
    background: transparent;
    display:    inline;
}


/*------------------------------------------------------------------
WP classes
-------------------------------------------------------------------*/

.wp-caption,
.wp-caption-text {
    
}


/*------------------------------------------------------------------
Other
-------------------------------------------------------------------*/

.clear {
    clear: both;
}

.hide,
.hidden {
    display: none;
}

.show-if-js {
    display: none;
}

.screen-reader-text {
    display: none;
}