.breadcrumbs {
	position: relative;
	// margin-top: space-y(half) * -1;
	// margin-bottom: -6px;
	margin-bottom: space-y(0.25);
	@include font-dimension(sm);

	a {
		@include reset-link;
		@include font-weight(bold,primary);
		// @include on-event {
		// 	color: $font-color-inv;
		// }
	}

	.fa {
		@include font-size();
	}

	.breadcrumb_last {
		font-style: italic;
	}

	.singular & {

		/* Hide last seperator and breadcrumb */
		span[rel="v:child"] .sep {
			display: none;
		}

		.breadcrumb_last {
			display: none;
		}
	}
}
