// Resources
@import "vendors/bourbon/bourbon";
@import "vendors/colors";
@import "vendors/icons";
@import "vendors/social-media";

// Mixins
@import "mixins/mixins";
@import "mixins/mixins-flexbox";
@import "mixins/mixins-reset-styles";

// Theme Variables
@import "variables/colors";
@import "variables/typography";
@import "variables/structure";
@import "variables/misc";

/* Reset
============================================================================ */
@import "vendors/normalize";

/* EJO Defaults
============================================================================ */
@import "vendors/ejo-defaults";

/* Content
============================================================================ */
@import "content/content";

/* Editor Style specifics
============================================================================ */
body {

}

/* Main content editor */
body.content {
	max-width: $width__site-max;
	padding-left: 3rem !important;
	padding-right: 3rem !important;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Other content editors (ex. black studio tinymce widget) */
body:not(.content) {
	margin: 9px 10px;
}

/* Reversing default 100% height */
html,
body {
	height: auto;
}

/* Fix weird br after linked image which causes layout problems */
br[data-mce-bogus]:not(:only-child), 
br[type='_moz'],
br[type='_moz'] + br[data-mce-bogus] {
	visibility: hidden;
	display: none;
}