// Resources
@import "vendors/bourbon/bourbon";
@import "vendors/icons";
@import "vendors/social-media";

// Mixins
@import "mixins/mixins";
@import "mixins/mixins-flexbox";
@import "mixins/mixins-content-style";
@import "mixins/mixins-reset-styles";

// Theme Variables
@import "variables/colors";
@import "variables/typography";
@import "variables/structure";
@import "variables/misc";

/* Reset
============================================================================ */
@import "vendors/normalize";

/* EJO Defaults
============================================================================ */
@import "vendors/ejo-defaults";

/* Typography
============================================================================ */
@import "typography/typography";

/* Elements
============================================================================ */
@import "elements/elements";

/* Other
============================================================================ */
@import "modules/branding";
@import "modules/titles";
@import "modules/navigation";
@import "modules/navigation-mobile";
@import "modules/breadcrumbs";
@import "modules/social-media";
@import "modules/alignments";
@import "vendors/gravity-forms/setup";

/* Media
============================================================================ */
@import "modules/media/galleries";
@import "modules/media/captions";
@import "modules/media/smileys";

/* Accessibility
============================================================================ */
@import "modules/accessibility";

/* Structure
============================================================================ */
@import "structure/site";
@import "structure/header";
@import "structure/content";
@import "structure/sidebar-primary";
@import "structure/footer";
