//* Main Colors
#footer {
	background-color: $color-secondary;
	color: $color-secondary-contrast;

	a {
		color: $color-secondary-contrast;
		&:hover {
			color: $base-font-color;
		}
	}
}

//* Spacing
#footer {
	text-align: center;
	padding: $base-gap 0;
}

//* Other
#footer {
	#toTop {
		font-weight: $bold-weight;
		cursor: pointer;
		
		&:before {
			@include icon( 'fa-arrow-circle-up' );
			padding-right: rem(6);
		}
	}
}