$column-width: flex-grid(1, $grid-columns);
$gutter-width: flex-gutter($grid-columns);

body {
	// padding: 0 em(20);
}

#container {
	@include outer-container($default-width);
	position: relative;	
	margin-left: auto;
	margin-right: auto;

	@include media($tablet) {
		margin-left: em(20);
		margin-right: em(20);
	}	

	@include media($barebones) {
		margin-left: 0;
		margin-right: 0;
	}	
}

#header {
	@include span-columns(12);

	position: relative;
	margin-bottom: 2rem;

	#branding {
		
	}

	#menu-primary {
		position: absolute;
		top: 0;
		right: 0;
	}
}

#main {
	@include clearfix;
	#content {
		@include span-columns(12);
	}

	article.entry {
		padding: 3rem 4rem 3rem;
		margin-bottom: $base-gap;
		// @include media($phablet) {
		// 	padding: flex-grid(1, 9) + flex-gutter(9);
		// }	
		// @include media($smartphone) {
		// 	padding: flex-grid(1, 6) + flex-gutter(6);
		// }	
		// @include span-columns(10);
		// @include shift(1);

		// @include media($smartphone) {
		// 	@include span-columns(4);
		// 	@include shift(1);
		// }	
	}
}

aside.test {
	display: none;
	@include clearfix;
	div {
		@include span-columns(1);
		&:last-child() {
			@include omega;
		}

		background-color: black;
	}
}

.plural #main #content {

}
