@import "../vendors/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: modular-scale(3, 100%, $golden);
// $column: em(58);
$gutter: modular-scale(1, 100%, $golden);
// $gutter: em(24);

// Mobile first
$grid-columns: 12;
$max-width: em(800);
$default-width: $max-width;

// Neat Breakpoints
$tablet-width: em(840);
$phablet-width: em(660);
$smartphone-width: em(480);
$barebones-width: em(360);

$tablet: new-breakpoint(max-width $tablet-width);
$phablet: new-breakpoint(max-width $phablet-width);
$smartphone: new-breakpoint(max-width $smartphone-width);
$barebones: new-breakpoint(max-width $barebones-width);

// $visual-grid: test;
$visual-grid-index: back;
$visual-grid-opacity: 0.5;
$visual-grid-color: rgba(gray,$visual-grid-opacity);

