/*------------------------------------------------------------------
Menu List
-------------------------------------------------------------------*/
@mixin menu-list($colorType: dark)
{	
	$color: #777;

	@if $colorType == light {
		$color: $color-light;
	}

	li {
		word-wrap: break-word;
		display: block;
	}

	> li {
		padding: 5px 0;
		border-bottom: 1px dotted #CCC;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		&:before {
			content: '\25B8';
			color: $color;
			margin-right: 5px;
		}

		li {
			padding: 3px 0;

			&:before {
				content: '\25AA';
				margin-right: 7px;
				color: $color;
			}


			li {
				padding: 1px 0 1px 4px;

				&:before {
					content: '';
				}

				a { font-size: rem(13px); }
			}
		}
	}

	

	li.current-menu-item > a,
	li.widget_subpages_current_page > a {
		font-weight: $bold;
	}	

	a {			
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		margin-left: $gap;
		padding-top: 2px;

		ul {
			padding-top: 3px;
		}
	}
}