/* Forms
-------------------------------------------------------------------*/
// $form-text-inputs: 	'input[type="color"]',
// 					'input[type="date"]',
// 					'input[type="datetime"]',
// 					'input[type="datetime-local"]',
// 					'input[type="email"]',
// 					'input[type="month"]',
// 					'input[type="number"]',
// 					'input[type="password"]',
// 					'input[type="search"]',
// 					'input[type="tel"]',
// 					'input[type="text"]',
// 					'input[type="time"]',
// 					'input[type="url"]',
// 					'input[type="week"]',
// 					'input:not([type])';

$form-text-inputs: 	'input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])',
					'input:not([type])'; // Why not type?

// Reset
input,
select,
textarea {
	@include font-family(primary);
	@include font-weight(normal, primary);
    @include font-dimension(base);
}

// Styling
#{$form-text-inputs},
select,
textarea {
	padding: space(xs);
	@include border(base);
	border-radius: $border-radius;

	@include on-event {
		border-color: $gray-dark;
	}
}

select {

}

// Reset
textarea {
	resize: vertical;
	min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
	color: $gray-dark;
}
