/* Links
-------------------------------------------------------------------*/
$links: 'a:not(.button)';
// $textcontent-links: selector-nest(#{$textcontent}, #{$links});

@mixin on-link-event
{
	@include on-event {
		color: $brand-secondary;
	}	
}

a {
	color: inherit;
    text-decoration: none;    
}

/* Links in content */
// #{$textcontent-links} {
#{$links} {
	color: $brand-primary;
	text-decoration: underline;

	@include on-link-event();
}

@mixin reset-link 
{
	color: inherit;
	text-decoration: none;
}